@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-90deg, #4996f5, #33dcff, #4996f5);
  background-size: cover;
  position: relative;
}

h1 {
  margin-top: 15px;
}

input {
  margin: 2px;
}

button {
  margin: 10px;
}

.row {
  background: #88888888;
  margin: 5px 0px;
}

#date-info, #show-date-info {
  background: #9999ff;
}
