@import '~bootstrap/scss/bootstrap';

body {
  text-align: center;
  background: #CDF0FD;
}

input {
  margin: 2px;
}

button {
  margin: 10px;
}

.row {
  background: #88888888;
  margin: 5px 0px;
}

#date-info {
  background: #9999ff;
}
